*{
    font-family: sans-serif;
}
.main{
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 10% auto;
    text-align: center;
    color:gray;
}
